*
{
	padding:0;
	margin: 0;
	font-family: sans-serif;
}
.menu
{
	background-image: linear-gradient(to right,#6db9ef,#7ce08a);
}
.nav-link
{
	font-size: 16px;
	color: #fff !important;
	margin:2px;
}
.navbar-nav
{
	text-align: right;
	float: right;

	display: flex;
	gap: 5px;

	align-items: center;
	align-content: center;
	text-align: center;
}
.menu .navbar-toggler
{
	padding-right: 0;
	outline: none;
	border:none;
}

.navbar{
/*   z-index should be above .close-navbar-toggler */
  z-index:2;
}
.close-navbar-toggler{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:1;
  cursor:pointer;
  text-align: center;
}
.close-navbar-toggler.collapsed{
  z-index:-1;
}
/*add full-width input fields*/
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 4px 4px;
    margin: 6px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
  }
  /* set a style for all buttons*/
  .signupbtn {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
  }
  /*set styles for the cancel button*/
  .cancelbtn {
    padding: 14px 22px;
    background-color: #FF2E00;
    margin-top: 8px;
  

  }
  /*float cancel and signup buttons and add an equal width*/
  .cancelbtn,
  .signupbtn {
  	align-content: center;
    width: 45%;
    border-radius: 15px;
  }
  /*add padding to container elements*/
  .container {
    padding: 10px;
  }
  /*define the modal’s background*/
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 40%;
    height: 90%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
  }
  /*define the modal-content background*/
  
  .modal-content {
	background-image: linear-gradient(to right,#6db9ef,#7ce08a);
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 70%;
  }
  /*define the close button*/
  
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: red;
    font-size: 40px;
    font-weight: bold;
  }
  /*define the close hover and focus effects*/
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
      width: 100%;
    }
  }
.banner
{
	height: 30vh;	
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/p2.png');
	background-size: cover;
	background-position: center;
	color:#fff;
}
.banner h6
{
	padding-top: 70px;
	font-size: 30px;
	letter-spacing: 6px;
	font-weight: 600;
	text-shadow: 0 0 30px rgba(0,0,0,0.5);	
}
.search-job
{
	padding: 30px 0;
	margin : 70px 6% 50px;
	background-image: linear-gradient(to right,#6db9ef,#7ce08a);
}
.search-job .form-control
{
	max-width: 300px;
	display: inline-flex;
	margin: 2px 10px;
	border-radius: 0;
	box-shadow: none !important;
	border:none !important;
}
.search-job .btn-primary
{
	border-radius: 0;
	box-shadow: none !important;
	border:none;
	display: inline-flex;
	margin: 5px;
	padding: 5px 20px;
}
.container
{
	max-width: 350px;
}
#jobs
{
	background: #f8f8fa;
	padding: 50px 0;
}
.company-details
{
	box-shadow: 0 2px 70px 0 rgba(110,130,208, .18);
	border-radius: 5px;
	margin-bottom: 20px;
}
.job-update
{
	background: #fff;	
	padding: 10px 20px;
	border-radius: 5px;
	color: black;
}
.job-update .fa
{
	margin-top: 5px;
	margin-right: 10px;
	color: #77d1b1;
}
.job-update .small
{
	background: #efefef;
	padding: 1px 5px;
	margin: 0 5px;
}
.job-update p
{
	margin-bottom: 0 ! important;
}
.job-update a
{
	text-decoration: none ! important;
	color: #b6bed2;
	float: right;
}
.apply-btn
{
	height: 40px;
	background-image: linear-gradient(to right,#6db9ef,#7ce08a);
	padding: 7px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.apply-btn .btn-primary
{
	padding: 0 30px;
	float: right;
	border-radius: 0;
	box-shadow: none;
	background: transparent;
	border: 1px solid #fff;
}
.page-link li
{
	height: 25px;
	width:25px;
	list-style: none;
	display: inline-block;
	cursor: pointer;
}
.page-link li:hover, .active
{
	color: #fff;
	background-image: linear-gradient(to right,#6db9ef,#7ce08a);
}
.left-arrow
{
	color: #29b929
}
.container .card-title
{
	color: blue;
	padding-bottom: 20px;
}
.container .form-check
{
	padding-top: 10px;
}
/*-----------app banner-----*/
#app-banner
{
	background-image: linear-gradient(to right,#6db9ef,#7ce08a);
	padding: 50px 0;
}
#app-banner h1
{
	margin-top: 20px;
	color: #fff;
}
#app-banner img
{
	width: 250px;
	margin: 50px 0;
}
/*------------footer--------*/
#footer
{
	background: #f8f9fd;
	padding: 20px 10px 8px;
}
.footer-image
{
	width: 300px;
	margin: 30px 0;
}
#footer p
{
	color: #333;
}
#footer a img
{
	width:50px;
}