<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Login Form</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>	
<div class="container">
	<h2>User Login</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius velit assumenda facere dignissimos laboriosam aliquam quod aut aperiam optio aliquid voluptas, nam est explicabo libero? Explicabo vel ab recusandae alias?</p>

	<h2>Login info</h2>
	<a class="bottom" href="{{url_for('login')}}"> Log In</a>
	<a class="bottom" href="{{url_for('register')}}"> Register here</a>
</div>
</body>
</html>